<div class="panel panel-primary">
    <div class="panel-heading pos-rel">

        <div class="post_textarea">
            <form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-file"></i> Update Status
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?" ng-model="v"></textarea>

                        </div>
                    </div>


                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="submit" name="submit" value="Post" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>


        </div>
    </div>


</div>
<div class="panel-body">


    <div id="comments" class="comments-area">


        <h2 class="comments-title">{{totalpost}} Post</h2>


        <ol class="commentlist">
            <li class="post pingback"></li><!-- #comment-## -->
            <li class="comment even thread-even depth-1" id="li-comment">
                <article id="comment" class="comment">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <div class="avatar-wrap">
                                <img alt='' src='images/5(3).png' class='avatar avatar-68 photo' height='68' width='68' />
                            </div>
                        </div><!-- .comment-author .vcard -->
                    </footer>

                    <div class="comment-content">
                        <div class="author-name">
                            <span class="fn">Post</span> <span class="says">says:</span>
                        </div>
                        <p>Hi hello</p>
                        <a class="comment-date" href=""><time pubdate datetime="2012-07-05T09:16:11+00:00">July 5, 2012 at 9:16 am</time></a>
                    </div>



                    <div class="comment_section">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <div class="avatar-wrap">
                                    <img alt='' src='images/5(3).png' class='avatar avatar-68 photo' height='68' width='68' />
                                </div>
                            </div><!-- .comment-author .vcard -->
                        </footer>

                        <div class="comment-content">
                            <div class="author-name">
                                <span class="fn">Comment</span> <span class="says">says:</span>
                            </div>
                            <p>Hi hello</p>
                            <a class="comment-date" href=""><time pubdate datetime="2012-07-05T09:16:11+00:00">July 5, 2012 at 9:16 am</time></a>
                        </div>
                    </div>


                    <div class="comment_section">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <div class="avatar-wrap">
                                    <img alt='' src='images/5(3).png' class='avatar avatar-68 photo' height='68' width='68' />
                                </div>
                            </div><!-- .comment-author .vcard -->
                        </footer>

                        <div class="comment-content">
                            <div class="author-name">
                                <span class="fn">Comment</span> <span class="says">says:</span>
                            </div>
                            <p>Hi hello</p>
                            <a class="comment-date" href=""><time pubdate datetime="2012-07-05T09:16:11+00:00">July 5, 2012 at 9:16 am</time></a>
                        </div>
                    </div>
                    <textarea class="comment-content" placeholder="type here"></textarea>



                </article><!-- #comment-## -->

            </li><!-- #comment-## -->
            <li class="comment even" id="li-comment">
                <article id="comment" class="comment">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <div class="avatar-wrap">
                                <img alt='' src='images/5(3).png' class='avatar avatar-68 photo' height='68' width='68' />
                            </div>
                        </div><!-- .comment-author .vcard -->
                    </footer>
                    <div class="comment-content">
                        <div class="author-name">
                            <span class="fn">myster_ry</span> <span class="says">says:</span>
                        </div>
                        <p>Hi hello</p>
                        <a class="comment-date" href=""><time pubdate datetime="2012-07-05T09:16:11+00:00">July 5, 2012 at 9:16 am</time></a>
                    </div>



                    <div class="comment_section">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <div class="avatar-wrap">
                                    <img alt='' src='images/5(3).png' class='avatar avatar-68 photo' height='68' width='68' />
                                </div>
                            </div><!-- .comment-author .vcard -->


                        </footer>

                        <div class="comment-content">
                            <div class="author-name">
                                <span class="fn">myster_ry</span> <span class="says">says:</span>
                            </div>
                            <p>Hi hello</p>
                            <a class="comment-date" href=""><time pubdate datetime="2012-07-05T09:16:11+00:00">July 5, 2012 at 9:16 am</time></a>

                        </div>



                    </div>


                    <div class="comment_section">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <div class="avatar-wrap">
                                    <img alt='' src='images/5(3).png' class='avatar avatar-68 photo' height='68' width='68' />
                                </div>
                            </div><!-- .comment-author .vcard -->
                        </footer>

                        <div class="comment-content">
                            <div class="author-name">
                                <span class="fn">myster_ry</span> <span class="says">says:</span>
                            </div>
                            <p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/UccWXp9eBAo" frameborder="0" allowfullscreen></iframe>
                            </p>
                            <a class="comment-date" href=""><time pubdate datetime="2012-07-05T09:16:11+00:00">July 5, 2012 at 9:16 am</time></a>

                        </div>



                    </div>




                </article><!-- #comment-## -->

            </li><!-- #comment-## -->

        </ol>
    </div>




    <button class="gap-top-m30 btn btn-block" onclick=" loadMore() ">Load More</button>
</div>
<div class="panel-footer clearfix">

</div>